body {
  background-color: black;
}

#selection-sort-div{
  background-color: white;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: flex-end;
}


#bubble-sort-div{
  background-color: white;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: flex-end;
}


#merge-sort-div{
  background-color: white;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: flex-end;
}


h3, h1 {
  color: white;
}

.big-div {
  display: flex;
}

.sorter-div {
  padding: 20px;;
}